In [2]:
import pandas as pd
from json import loads, dumps,  dump

In [3]:
data_full = pd.read_excel("buildings.xlsx")

In [4]:
data_desc = pd.read_excel("buildings.xlsx", nrows=1)
data_desc = data_desc[["ID", "NAME", "DESC"]]
data_desc

     ID NAME       DESC
0  B_01   HQ  some desc

In [5]:
data_level = pd.read_excel("buildings.xlsx", skiprows=4)
data_level

   LEVEL  WOOD_COST  STONE_COST  IRON_COST  MAX_VILLAGER  MAX_STORAGE  PROD
0      1          0           0          0             0            0     2
1      2        100           0          0             0            0     2
2      3        100         100          0             0            0     4
3      4        400         400        100             0            0     4
4      5        800         800        800             0            0     6

In [7]:
dic_desc = data_desc.to_dict('records')
dic_desc[0]

{'ID': 'B_01', 'NAME': 'HQ', 'DESC': 'some desc'}

In [13]:
dic_level = data_level.to_dict('records')
dic_level

[{'LEVEL': 1,
  'WOOD_COST': 0,
  'STONE_COST': 0,
  'IRON_COST': 0,
  'MAX_VILLAGER': 0,
  'MAX_STORAGE': 0,
  'PROD': 2},
 {'LEVEL': 2,
  'WOOD_COST': 100,
  'STONE_COST': 0,
  'IRON_COST': 0,
  'MAX_VILLAGER': 0,
  'MAX_STORAGE': 0,
  'PROD': 2},
 {'LEVEL': 3,
  'WOOD_COST': 100,
  'STONE_COST': 100,
  'IRON_COST': 0,
  'MAX_VILLAGER': 0,
  'MAX_STORAGE': 0,
  'PROD': 4},
 {'LEVEL': 4,
  'WOOD_COST': 400,
  'STONE_COST': 400,
  'IRON_COST': 100,
  'MAX_VILLAGER': 0,
  'MAX_STORAGE': 0,
  'PROD': 4},
 {'LEVEL': 5,
  'WOOD_COST': 800,
  'STONE_COST': 800,
  'IRON_COST': 800,
  'MAX_VILLAGER': 0,
  'MAX_STORAGE': 0,
  'PROD': 6}]

In [9]:
dic_full = {'INFO': dic_desc[0], 'STATS': dic_level}

In [10]:
dic_full

{'INFO': {'ID': 'B_01', 'NAME': 'HQ', 'DESC': 'some desc'},
 'STATS': [{'LEVEL': 1,
   'WOOD_COST': 0,
   'STONE_COST': 0,
   'IRON_COST': 0,
   'MAX_VILLAGER': 0,
   'MAX_STORAGE': 0,
   'PROD': 2},
  {'LEVEL': 2,
   'WOOD_COST': 100,
   'STONE_COST': 0,
   'IRON_COST': 0,
   'MAX_VILLAGER': 0,
   'MAX_STORAGE': 0,
   'PROD': 2},
  {'LEVEL': 3,
   'WOOD_COST': 100,
   'STONE_COST': 100,
   'IRON_COST': 0,
   'MAX_VILLAGER': 0,
   'MAX_STORAGE': 0,
   'PROD': 4},
  {'LEVEL': 4,
   'WOOD_COST': 400,
   'STONE_COST': 400,
   'IRON_COST': 100,
   'MAX_VILLAGER': 0,
   'MAX_STORAGE': 0,
   'PROD': 4},
  {'LEVEL': 5,
   'WOOD_COST': 800,
   'STONE_COST': 800,
   'IRON_COST': 800,
   'MAX_VILLAGER': 0,
   'MAX_STORAGE': 0,
   'PROD': 6}]}

In [242]:
name = dic_desc[0]["NAME"]
with open(f'{name}.txt', 'w') as outfile:
    dump(dic_full, outfile, indent=4)